*{
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
header{
    width: 100%;
    height: 65px;
}
.wrap{
    max-width: 1200px;
    margin: 0 auto;
}
header h1{
    color: #f36450;
    line-height: 65px;
    font-weight: 900;
    font-size: 1.25rem;
}
nav{
    width: 100%;
    height: 80px;
    background-color: #f36450;
    color: white;
}
.nav_ul{
    width: 50%;
    height: 100%;
    line-height: 80px;
}
.nav1{
    float: left;
    
}
.nav2{
    float: right;
    text-align: right;
}
.nav_ul li{
    display:inline-block;
    list-style-type: none;
    margin-right: 25px;
}
.nav_ul .nav2 li:nth-child(3){
    margin: 0px;
}
section.section1{
    width: 100%;
    height: 575px;
    background-image: url(../img/massage_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
section.section1 .wrap{
    padding-top: 230px;
}
section.section1 h3{
    color: white;
    font-size: 1.563rem;
    font-weight: 300;
    margin-bottom: 20px;
}
section.section1 h2{
    color: white;
    font-size: 2.5rem;
    font-weight: 300;
}
section.section1 .section_boxs{
    width: 100%;
    height: 100px;
    margin-top: 65px;
}
section.section1 .section_box{
  display: inline-block;
  float: left;
  background-color: white;
  text-align: center;
  line-height: 100px;
  font-weight: 900;
  font-size: 1.375rem;
  border: 0.5px solid #e5e5e5;
}
section.section1 .box1{
    width: 23%;
    height: 100%;
  }
section.section1 .box2{
    width: 26%;
    height: 100%;
}
section.section1 .box3{
    width: 33%;
    height: 100%;
}
section.section1 .box4{
    width: 16%;
    height: 100%;
    background-color: #f36450;
    color: white;
    border: 0;
    margin-left: 5px;
}
section.section2{
    width: 100%;
    height: 160px;
    background-color: #fbdfdc;
}
section.section2 .wrap{
    text-align: center;
}
section.section2 .section_boxs{
    width: 100%;
    height: 100%;
}
section.section2 .section_box{
    width: 25%;
    height: 160px;
    display: inline-block;
    float: left;
    padding: 20px 50px;
    margin-top: 13px;
}
section.section2 .box1 .pic{
    width: 50%;
    height: 50%;
    padding: 30px 50px; 
    margin-left: 50px;
    background-image: url(../img/coupon.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}
section.section2 .box2 .pic{
    width: 50%;
    height: 50%;
    margin-left: 45px;
    background-image: url(../img/tog.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}
section.section2 .box3 .pic{
    width: 50%;
    height: 50%;
    margin-left: 50px;
    background-image: url(../img/birth.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
section.section2 .box4 .pic{
    width: 50%;
    height: 50%;
    margin-left: 50px;
    background-image: url(../img/couple.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}
section.section2 .title{
    font-size: 1.4rem;
    color: #f36450;
    margin-top: 10px;
    font-weight: 900;
}
section.section3{
    width: 100%;
    height: 1205px;
    background-color: #f8f8f8;
    margin-top:10px;
}
section.section3 .wrap{
    padding-top: 110px;
}
section.section3 h2{
    font-size: 2.25rem;
    text-align: center;
    color: #353535;
    font-weight: 900;
}
section.section3 span{
    font-size: 2.25rem;
    color:#f36450;
    font-weight: 900;
}
section.section3 h4{
    font-size: 1.25rem;
    text-align: center;
    color: #7c7c7c;
    margin-top: 15px;
}
section.section3 .section_boxs{
    width:100%;
    height:625px;
    margin-top: 110px;
}
section.section3 .section_box{
    width:49.3%;
    height:49.3%;
    display: inline-block;
    float: left;
    color: white;
    text-align: center;
}
section.section3 .box1{
    margin-right: 15px;
    margin-bottom: 15px;
    background-image: url(../img/shop1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
section.section3 .box2{
    margin-bottom: 15px;
    background-image: url(../img/shop2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
section.section3 .box3{
    margin-right: 15px;
    background-image: url(../img/shop2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
section.section3 .box4{
    background-image: url(../img/shop1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
section.section3 p{
    width: 20%;
    background-color: #f36450;
    margin-top: 100px;
    margin-left: 237px;
    margin-bottom: 10px;
}
section.section3 h3{
    font-size: 2.5rem;
}
section.section3 h5{
    margin-top: 15px;
    font-size: 1.275rem;
}
section.section3 .bottom_box{
    width:100%;
    height:100px;
    background-color: white;
    border:2px solid #f36450;
    margin-top: 40px;
    text-align: center;
    line-height: 100px;
    font-size: 1.2rem;
    font-weight: 900;
    color: #7c7c7c;
}
section.section4{
    width: 100%;
    height: 465px;
    background-color: white;
}
section.section4 .wrap{
    padding-top: 125px;
}
section.section4 .section_boxs{
    width:100%;
    height:250px;
}
section.section4 .section_box{
    width:32%;
    height:250px;
    background-color: #ebebeb;
    display: inline-block;
    overflow: hidden;
    padding: 30px 30px;
    color: #5a5a5a;
}
section.section4 .box1{
    background-color: #f36450;
    display: inline-block;
    color: white;
}
section.section4 .box2{
    margin: 0 15px
}
section.section4 h2{
    font-size: 2.25rem;
    font-weight: 900;
    margin-bottom: 30px;
}
section.section4 p{
    font-size: 1.125rem;
    font-weight: 900;
    margin-bottom: 30px;
}
section.section4 h3{
    color: #f36450;
    font-size: 1.125rem;
    font-weight: 900;
}
section.section4 .box2 h3{
    margin-top: 40px;
}
section.section4 .box3 h3{
    margin-top: 60px;
}
section.section5{
    width: 100%;
    height: 75px;
    background-color: white;
    border-top: 2px solid #dad7d7;
    display: inline-block;
    line-height: 75px;
}
section.section5 .section_box p:nth-child(1){
    width: 10%;
    float: left;
    font-size: 1.063rem;
    font-weight: 900;
}
section.section5 .section_box p:nth-child(2){
    width: 90%;
    float: right;
}
footer{
    width: 100%;
    height: 300px;
    background-color: #292929;
    color: white;
}
footer h4{
    width: 100%;
    color: rgb(179, 178, 178);
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 1.25rem;
    margin-left: 30px;
}
footer .box1{
    width: 70%;
    display: inline-block;
}
footer .box2{
    width: 30%;
    display: inline-block;
}

footer hr{
   border: 1px solid rgb(133, 132, 132);
}